.blogs-details-tab-news {
    &__container {
    }

    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border: 1px solid #ececee;
        border-radius: 8px;
        background-color: $whiteColor;

        input {
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            color: $secondary;
            width: 100%;
            border: none;
        }
    }

    &__categories {
        background-color: $whiteColor;
        border: 1px solid #ececee;
        border-radius: 8px;
        padding: 40px;
        margin-top: 60px;
        margin-bottom: 60px;

        h5 {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 30px;
        }
    }

    &__categories-list {
    }

    &__categories-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        span {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: $grayColor;
            text-transform: capitalize;
        }
    }

    &__categories-item--active {
        span {
            color: $primary;
        }
    }



    &__latest-posts-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        background-color: $whiteColor;
        border: 1px solid #ececee;
        border-radius: 8px;

        h5 {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &__latest-posts-item {
        display: grid;
        grid-template-columns: 120px 230px;
        gap: 15px;
        border-radius: 8px;

        a {
            color: $secondary;
        }
    }

    &__latest-posts-image {
        height: 71px;
        border-radius: 8px;
        background-color: #d9d9d9;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // background: #d9d9d9 url(../assets/images/blogs-tab-news-01.png) center / cover no-repeat;
    }

    &__latest-posts-content {
        span {
            font-size: 11px;
            line-height: 14px;
            text-transform: uppercase;
        }
    }

    &__latest-posts-title {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        margin-top: 9px;
    }

    &__subscribe {
        padding: 40px;
        border: 1px solid #ececee;
        border-radius: 8px;
        margin-top: 60px;
        background-color: $whiteColor;
    }

    &__subscribe-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 10px;
    }

    &__subscribe-desc {
        font-weight: 400;
        line-height: 22px;
        color: $grayColor;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        input {
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            color: $secondary;
            padding: 17px 20px;
            background: #f7f7f8;
            border-radius: 8px;
            border: none;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: $whiteColor;

            padding: 17px 20px;
            background: $primary;
            border: none;
            border-radius: 8px;
        }
    }
}
