.banner {
    padding-top: 76px;

    &__top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0 136px;
    }

    &__content {
        width: 630px;
    }

    &__heading {
        font-size: 48px;
        font-weight: 600;
        line-height: 125%;
    }

    &__desc-list {
        margin-top: 35px;
        margin-bottom: 50px;
    }

    &__desc-item {
        span {
            margin-left: 12px;
            line-height: 160%;
            font-weight: 400;
        }
    }

    &__desc-item + &__desc-item {
        margin-top: 8px;
    }

    &__platform {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 250px;
            height: 64px;

            span {
                line-height: 133%;
            }
        }
    }

    &__image {
        margin-bottom: 100px;
    }

    &__earth-tablet,
    &__earth-mobile {
        display: none;
    }


    // @media (prefers-reduced-motion: no-preference) {
    //     &__image {
    //         animation: logo-rolate infinite 20s linear;
    //     }
    // }

    // @keyframes logo-rolate {
    //     from {
    //         transform: rotate(0deg);
    //     }
    //     to {
    //         transform: rotateY(360deg);
    //     }
    // }

    &__services {
    }

    &__services-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0 30px;
    }

    &__services-item {
        padding: 15px 24px;
        display: flex;
        align-items: center;
        gap: 23px;
    }

    &__services-image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__services-content {
        p {
            font-size: 26px;
            color: $secondary2;
            line-height: cacl(32/26);
            margin-bottom: 2px;
        }

        span {
            font-weight: 400;
            color: $grayColor;
            line-height: cacl(19/15);
        }
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        padding-top: 60px;
        &__top {
            display: flex;
            flex-direction: column-reverse;
            align-items: none;
        }

        &__image {
            position: absolute;
            top: 0;
            margin-bottom: 0;
            margin-top: 160px;
            z-index: -1;
        }

        &__earth,
        &__earth-mobile {
            display: none;
        }

        &__earth-tablet {
            display: block;
        }


        &__content {
            width: 100%;
            padding: 0 30px;
            margin-top: 60%;
        }

        &__heading {
            font-size: 40px;
            font-weight: 600;
            line-height: 135%;
        }

        &__platform {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                width: 350px;
                height: 64px;
                span {
                    line-height: 133%;
                }
            }
        }

        &__services {
            width: 100%;
            margin-top: 80px;
        }

        &__services-list {
            padding: 0 16px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 0 30px;
        }

        &__services-item {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__services-image {
            width: 48px;
            height: 48px;
        }

        &__services-content {
            p {
                font-size: 18px;
                font-weight: 500;
                color: $secondary2;
                line-height: 22px;
                margin-bottom: 2px;
            }

            span {
                font-size: 13px;
                font-weight: 400;
                color: $grayColor;
                line-height: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .banner {
        &__top {
            position: relative;
        }
        &__image {
            position: absolute;
            left: 2px;
            top: 0;
            margin-bottom: 0;
            z-index: -1;
        }

        &__earth-tablet,
        &__earth {
            display: none;
        }

        &__earth-mobile {
            display: block;
        }

        &__content {
            padding: 0;
            margin-top: 70%;
        }

        &__heading {
            font-weight: 600;
            font-size: 30px;
            line-height: 133%;
        }

        &__desc-item {
            display: flex;
            gap: 12px;

            span {
                display: block;
                width: 314px;
                line-height: 147%;
            }

            svg {
                transform: translateY(45%);
            }
        }

        &__platform {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                width: 100%;
                height: 64px;

                span {
                    line-height: 133%;
                }
            }
        }

        &__services {
            width: 100%;
            margin-top: 80px;
        }

        &__services-list {
            padding: 0;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

        }

        &__services-item {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__services-image {
            width: 48px;
            height: 48px;
        }

        &__services-content {
            p {
                font-size: 18px;
                font-weight: 500;
                color: $secondary2;
                line-height: 22px;
                margin-bottom: 2px;
            }

            span {
                font-size: 13px;
                font-weight: 400;
                color: $grayColor;
                line-height: 16px;
            }
        }
    }
}
