.banner {
    background: linear-gradient(180deg, rgba(219, 228, 254, 0.35) 0%, rgba(219, 228, 254, 0) 73.44%, rgba(255, 255, 255, 0) 100%);

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 139px;
    }

    &__content {
        width: 630px;
    }

    &__heading {
        font-size: 48px;
        font-weight: 600;
        line-height: 125%;

    }



}