.banner {
    
    padding-top: 76px;

    &__top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0 136px;
    }

    &__content {
        width: 630px;
    }

    &__heading {
        font-size: 48px;
        font-weight: 600;
        line-height: 125%;

    }

    &__desc-list {
        margin-top: 35px;
        margin-bottom: 50px;
    }

    &__desc-item {
        span {
            margin-left: 12px;
            line-height: 160%;
            font-weight: 400;
        }
    }

    &__desc-item + &__desc-item {
        margin-top: 8px;
    }

    &__platform {
        a + a {
            margin-left: 20px;
        }

    }

    &__download {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 15px;

        span {
            line-height: 133%;
        }
    }

    &__image {
        // padding-top: 202px;
        margin-bottom: 100px;

    }

    @media (prefers-reduced-motion: no-preference) {
        &__image {
          animation: logo-rolate infinite 20s linear;
        }
      }

    @keyframes logo-rolate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotateY(360deg);
        }
      }

    &__services {
        
    }

    &__services-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0 30px;
    }

    &__services-item {
        padding: 15px 24px;
        display: flex;
        align-items: center;
        gap: 23px;
    }

    &__services-image {
        
    }

    &__services-content {
        p {
            font-size: 26px;
            color: $secondary2;
            line-height: cacl(32/26);
            margin-bottom: 2px;
        }

        span {
            font-weight: 400;
            color: $grayColor;
            line-height: cacl(19/15);
        }
    }

}