.block-proxy {
    background-color: $bgColor;
    margin-top: 85px;

    &__container {
        padding: 100px 0;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 38px;
    }

    &__item + &__item {
        margin-top: 100px;
    }

    &__image--second {
        img:last-child {
            display: none;
        }
    }

    &__content {
        a {
            margin-top: 40px;

            div {
                display: flex;
                align-items: center;
                gap: 0 12.5px;

                span {
                    line-height: cacl(19/15);
                }
            }
        }
    }

    &__heading {
        font-size: 40px;
        font-weight: 600;
        line-height: 120%;
        color: $whiteColor;
        margin-bottom: 37px;
        text-transform: capitalize;
    }

    &__desc {
        line-height: 147%;
        letter-spacing: 2%;
        color: $whiteColor;
        opacity: 70%;
        font-weight: 400;
    }

    &__desc:first-child {
        margin-top: 30px;
    }

    &__desc + &__desc {
        margin-top: 15px;
    }

    &__desc--safe {
        display: flex;
        align-items: center;
        gap: 15px;

        h3 {
            color: $primary2;
            font-size: 18px;
            line-height: 200%;
            letter-spacing: 2%;
        }

        p {
            font-weight: 400;
            color: $whiteColor;
            opacity: 70%;
            letter-spacing: 2%;
            line-height: 147%;
        }
    }

    &__benefit-list {
    }

    &__benefit-item {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 29px;

        span {
            color: $whiteColor;
            font-size: 18px;
            line-height: 200%;
            text-transform: capitalize;
        }
    }
}

@media screen and (max-width: 1023px) {
    .block-proxy {
        &__item {
            padding: 0 20px;
            column-gap: 40px;
        }
        &__image {
            width: 350px;
            height: 296px;
        }

        &__heading {
            font-size: 30px;
            font-weight: 600;
            line-height: 40px;
            color: $whiteColor;
            margin-bottom: 37px;
            text-transform: capitalize;
        }

        &__desc {
            line-height: 147%;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.7);
            opacity: 70%;
            font-weight: 400;
        }

        &__item:first-child {
            p + p {
                display: none;
            }
        }

        &__image--second {
            img:first-child {
                display: none;
            }
            img:last-child {
                display: block;
            }
        }

        &__desc--safe {
            div {
                width: 325px;
            }
            img {
                width: 3px;
                height: 190px;
            }
            h3 {
                line-height: 36px;
                letter-spacing: 0.02em;
            }
        }

        &__benefit-item {
            margin-top: 25px;
            img {
                width: 3px;
            }
        }

        &__benefit-item:nth-child(2) {
            img {
                height: 50px;
            }
            span {
                line-height: 26px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .block-proxy {
        &__item {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &__item:last-child {
            flex-direction:column-reverse;
        }
    }
}
