.customer {
    &__container {
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 177px;
    }

    &__block {
        margin: 0 auto;
        width: 100%;
        max-width: 1170px;
        box-shadow: 0px 0px 35px rgba(6, 65, 90, 0.1);
        border-radius: 25px;

        position: relative;
        background-color: #fff;
        z-index: 9;
    }

    &__heading {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__feel {
        width: 100%;
        max-width: 1170px;
        background-color: white;
        border-radius: 25px;
        z-index: 8;
    }

    &__back {
        position: absolute;
        top: 50%;
        left: -64px;
        transform: translateY(-50%);
        z-index: 99999999;
    }

    &__feel-info {
        text-align: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 36.5px 0px 42px 0px;
    }

    &__feel-text {
        font-weight: 400;
        line-height: 160%;
        margin-top: 32px;
        margin-bottom: 30px;
    }

    &__feel-name {
        line-height: 160%;
    }

    &__next {
        position: absolute;
        top: 50%;
        right: -64px;
        transform: translateY(-50%);
        z-index: 99999999;
    }

    &__shadow1 {
        height: 250px;
        width: 1070px;
        border-radius: 25px;
        box-shadow: 0px 0px 35px rgba(6, 65, 90, 0.1);
        position: absolute;
        background-color: white;
        z-index: -1;
        top: 48px;
        left: 48px;
    }

    &__shadow2 {
        height: 250px;
        width: 970px;
        box-shadow: 0px 0px 35px rgba(6, 65, 90, 0.1);
        border-radius: 25px;
        margin: 0 auto;
        position: absolute;
        top: 86px;
        left: 100px;
        z-index: -2;
        // background-color: #fff;
    }
}
