.footer {
    background-color: $secondary;
    padding-top: 100px;

    &__container {
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 138px;
    }

    &__item {
    }

    &__item:first-child {
        width: 100%;
        max-width: 311px;
    }

    &__item:nth-child(5) {
        li + li {
            margin-top: 20px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 22px;
        color: $whiteColor;
        opacity: 60%;
        margin-bottom: 30px;
    }

    &__info {
        li {
            a {
                font-weight: 400;
                line-height: 40px;
                color: $whiteColor;

                span {
                    color: $secondary;
                }
            }
        }
    }

    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 40px;
            color: $whiteColor;
        }
    }
}
