.header {
    background: linear-gradient(180deg, rgba(219, 228, 254, 0.35) 0%, rgba(219, 228, 254, 0) 73.44%, rgba(255, 255, 255, 0) 100%);

    &__fixed {
        width: 100%;
        max-width: 2560px;
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 9999;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 10px;
    }

    &__language {
        color: #737588;
        font-size: 14px;
        line-height: cacl(18/14);
        cursor: pointer;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $whiteColor;
        height: 70px;
        border-radius: 5px;
        padding: 0 20px;
        box-shadow: 0px 0px 35px rgba(65, 124, 177, 0.1);
    }

    &__logo {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: cacl(38/26);
        color: $secondary;
        cursor: pointer;
    }

    &__menu {
        width: 100%;
        max-width: 757px;
    }

    &__menu-list {
        width: 100%;
        max-width: 757px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 25px;
        padding: 0 35px;
    }

    &__menu-link {
        font-weight: 500;
        line-height: calc(19 / 15);
        color: $secondary;
        cursor: pointer;
    }

    &__auth {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 30px;
    }

    &__login {
        font-weight: 600;
        line-height: calc(19 / 15);
        color: $secondary;
    }

    &__reponsive {
        display: none;
    }

    &__menu-reponsive {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        .container {
            padding: 0;
        }

        &__top {
            display: none;
        }

        &__menu,
        &__auth {
            display: none;
        }

        &__menu-reponsive {
            display: block;
        }

        &__reponsive {
            display: block;
            padding: 0 20px 20px 20px;
            background-color: #fff;
            div,
            nav {
                display: block;
            }

            ul {
                display: flex;
                flex-direction: column;
                padding-top: 15px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
              

                li + li {
                    margin-top: 30px;
                }

                li a {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }
            &-menu-link {
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                text-transform: capitalize;
                color: $secondary;
            }

            &-language {
                margin-top: 35px;
                padding-top: 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            &-auth {
                margin-top: 92px;

                a {
                    display: block;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 19px;
                    text-transform: capitalize;
                    padding: 14.5px 0px;
                    text-align: center;
                    border: 1px solid $secondary;
                    border-radius: 8px;
                }
            }

            &-login {
                color: $secondary;
                background-color: $whiteColor;
                margin-bottom: 20px;
            }

            &-sign-up {
                color: $whiteColor;
                background-color: $secondary;

            }
        }
    }
}
