.map {

    // padding-bottom: 100px;
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
    // background: red;
   

    &__container {

        display: flex;
        flex-direction: column;
        align-items: center;


        a {
            margin-top: 30px;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0 12.5px;

                span {
                   line-height: 1;
                }
            }
        }
    }

&__heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    margin-bottom: 15px;

}

&__desc {
    font-weight: 400;
    line-height: cacl(19/15);
    color: $grayColor;
    margin-bottom: 49px;
}

&__block {
    width: 100%;
    padding: 0 90px;
    background-image: url("../assets/images/map-frame.png");
    background-repeat: no-repeat;
    background-size: contain;


}

&__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    
}

&__list:first-child {
    margin-bottom: 40px;
}

&__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

&__image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    img {
        object-fit: contain;
    }
}

&__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

&__country {
    font-weight: 400;
    line-height: 19px;
    color: $secondary2;
}

&__number {
    font-size: 17px;
    line-height: 21px;
    color: $secondary2;


}



}