

// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&family=Montserrat:wght@0,800;1,800family=Jost:wght@800;900&display=swap');

$font: 'Lexend Deca', sans-serif;

$whiteColor: #ffffff;
$grayColor: #7D7E83;

$primary: #267EEC;
$primary2: #14CB9E; 
$primary3: #267EEC;
$secondary: #112446;
$secondary2: #121F3E;
$tertiary: #123B6E;


$bgColor: #123B6E;


